<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsFormsApp3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
  <add name="MyDbConnection" connectionString="Data Source=DESKTOP-T78PLCI;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsApp3.Properties.Settings.Session3ConnectionString"
   connectionString="Data Source=DESKTOP-T78PLCI;Initial Catalog=Session3;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="DataBaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T78PLCI;initial catalog=DataBase;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
 </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsFormsApp3.Properties.Settings>
      <setting name="KeepMeSignedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>0</value>
      </setting>
    </WindowsFormsApp3.Properties.Settings>
  </userSettings>
</configuration>